/target
/**/target
.DS_Store
.vscode

# this is created in a test
optical_data.json
cold_optical_data.json

docs/validation/*.html

# MAIN
#######
# Validations
tests/*/*
!tests/dc/*
!tests/**/**/*.idf
!tests/**/**/*.epw
!tests/**/**/*.spl
!tests/**/**/*.rs
!tests/**/**/*.rad
!tests/**/**/*.sw

# MODEL
#######
docs/ioreference/src/auto-*.md
docs/ioreference/src/SUMMARY.md
docs/ioreference/book
docs/validation.html
model/model.json 

# GEOMETRY
############
geometry/test_data/*.html

# AIR
############
air/tests/Energy+.idd
air/tests/*/*
!air/tests/*/*.csv
!air/tests/**/**/*.idf
!air/tests/**/**/*.spl
!air/tests/**/**/*.epw

# HEAT
#########
# EnergyPlus test stuff
heat/tests/Energy+.idd
heat/tests/*/*
!heat/tests/*/*.csv
!heat/tests/**/**/*.idf
!heat/tests/**/**/*.spl
!heat/tests/**/**/*.epw

# Documentation
heat/docs
!heat/docs/index.html

# LIGHT
############
light/tests/*/*
!light/tests/*/*.spl
!light/tests/*/eplusout.csv
light/docs/validation/*.html

# RENDERING
############
rendering/tests/scenes/images/*.hdr
rendering/tests/scenes/**/*.mtx
rendering/tests/scenes/**/*.oct
rendering/tests/scenes/images/*.tiff
# rendering/docs/validation/*.html

# WEATHER
##########
# EnergyPlus test stuff
weather/tests/*
!weather/tests/*csv
!weather/tests/*.idf
!weather/tests/*.epw
!weather/tests/*.rs


check.csv